* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--cardsBgColor: rgb(238, 237, 235);
	--font-family: "Space Mono", monospace;
}

#root {
	height: 100vh;
	color: black;
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav__button__active {
	border-bottom: 0.5px solid black;
}
